* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'open sans';
    background-color: #f8f8f8;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2a5273;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/* STAR NAV MENU */
.navv {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;

}

.navv.abajo {
    background-color: hsla(197, 56%, 31%, 0.829);
    padding: 15px;
    z-index: 10000000;
}

.navv.abajo .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navv.abajo .menu a:hover {
    padding: 5px 10px;
    background: white;
    color: black;
    border-radius: 15px;
}


.logo {
    font-size: 25px;
    color: white;
    font-weight: 100;

}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 05.s ease;
}

.menu li a:hover {
    padding: 5px 10px;
    background: white;
    color: black;
    border-radius: 15px;
}

.scroll {
    height: 100px;
}


/* END NAV MENU */

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Administrtion*/


main .Administration {
    padding: 30px 0 60px 0;

}

.titulo {
    color: rgb(44, 67, 134);
}

.contenedor-Administration {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.Administration .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
    font-size: 25px;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    font-size: 25px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    text-align: justify;
}

/* Galeria */


.portafolio {
    background: #f2f2f2;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos {
        width: 90%;
    }

    .imagen-about-us {
        width: 90%;
    }

    /* Galeria */

    .imagen-port {
        width: 44%;
    }

}

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav>a {
        margin-right: 5px;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    /* Galeria */

    .imagen-port {
        width: 95%;
    }

}