<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reciclar</title>
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="static/img/logo.png" style="width: 80px; height: 80px;  margin-top: 0px; border-radius: 80%;" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="papel">Papel</a>
                    <a href="organicos">Organicos</a>
                    <a href="plastico">Plastico</a>
                    <a href="pilas">Pilas</a>
                    <a href="/">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedorImg" style="background-image: url(static/img/fondo.png);">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1 style="text-align: center;">Recicla reutiliza reduce</h1>
                </section>
            </section>
        </div>
    </header>
    <section class="about-us">
        <div class="contenedor1" >
            <h2 class="titulo" style="text-align: center;">¿Que va en cada contenedor?</h2>
            <div class="contenedor-articulo" >
                <div class="articulo" data-aos="zoom-in-right">
                    <i class="fas fa-recycle" style="background: blue;"></i>
                    <h3>Contenedor Azul</h3>
                    <p>Este contenedor está destinado a los residuos de Papel y Cartón</p>
                    <section class="textos-questions" >
                        <a style="margin-left: 20px;" href="papel">Leer mas   ---></a>
                    </section>
                </div>
                <div class="articulo" data-aos="zoom-in-right">
                    <i class="fas fa-recycle" style="background: red;"></i>
                    <h3>Contenedor rojo</h3>
                    <p>Este contenedor está destinado a los residuos No orgànicos</p>
                    <section class="textos-questions" >
                        <a style="margin-left: 20px;" href="noOrganico">Leer mas ---></a>
                    </section>
                </div>
                <div class="articulo" data-aos="zoom-in-right">
                    <i class="fas fa-recycle" style="background: yellow;"></i>
                    <h3>Contenedor Amarillo</h3>
                    <p>Este contenedor está destinado a los residuos de Tetrabriks </p>
                    <section class="textos-questions" >
                        <a style="margin-left: 20px;" href="tetrabriks">Leer mas ---></a>
                    </section>
                </div>
                <div class="articulo" data-aos="zoom-in-right">
                    <i class="fas fa-recycle" style="background: black;"></i>
                    <h3>Contenedor negro</h3>
                    <p>Este contenedor está destinado a los residuos Orgànicos </p>
                    <section class="textos-questions" >
                        <a style="margin-left: 20px;" href="organicos">Leer mas ---></a>
                    </section>
                </div>
                <div class="articulo" data-aos="zoom-in-right">
                    <i class="fas fa-recycle" style="background: green;"></i>
                    <h3>Contenedor verde</h3>
                    <p>Este contenedor está destinado a los residuos de Vidrio</p>
                    <section class="textos-questions" >
                        <a style="margin-left: 20px;" href="vidrio">Leer mas ---></a>
                    </section>
                </div>
                <div class="articulo" data-aos="zoom-in-right">
                    <i class="fas fa-recycle" style="background: orange;"></i>
                    <h3>Contenedor naranja</h3>
                    <p>Este contenedor está destinado a los residuos Plàsticos</p>
                    <section class="textos-questions" >
                        <a style="margin-left: 20px;" href="plastico">Leer mas ---></a>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <section class="questions contenedor" >
        <section class="textos-questions">
            <h1 style="color: black;">¿Como Reciclar Pilas?</h1>
            <p>Es muy importante saber cómo reciclar pilas y baterías usadas, ya que son elementos muy contaminantes que a menudo no se reciclan de forma correcta.</p>
            <a href="pilas">Leer mas ---></a>
        </section>
        <img src="static/img/pilas/fondo.png" style="border-radius: 10%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
    </section>
<div style="background-color: #d4d3d3;">
    <section class="questions contenedor" >
        <section class="textos-questions">
            <h1 style="color: black;">¿Qué hacer con las colillas de cigarrillos? </h1>
            <p>Es reconocido que las colillas de los cigarrillos (CC), constituyen una importante fuente de contaminación en ciudades, parques, campos, ríos, playas y mares, dañando así el medio ambiente.</p>
            <a href="cigarros">Leer mas ---></a>
        </section>
        <img src="static/img/cigarros/fondo.png" style=" border-radius: 10%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
    </section>
</div>

    <footer>
        <div class="partFooter">
            <img src="img/logo-jordan-alexander.png" alt="">
        </div>
        <div class="partFooter">
            <h4>UNACH</h4>
            <a href="#">Universidad Autonoma de Chiapas</a>

        </div>
        <div class="partFooter">
            <h4>Alumnos 6J</h4>
            <a href="#">Sistemas Computacionales</a>

        </div>
        <div class="partFooter">
            <h4>Redes sociales</h4>
            <div class="social-media">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>