<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reciclar</title>
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="static/img/logo.png" style="width: 80px; height: 80px;  margin-top: -20px;  border-radius: 80%;" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="papel">Papel</a>
                    <a href="organicos">Organicos</a>
                    <a href="plastico">Plastico</a>
                    <a href="pilas">Pilas</a>
                    <a href="/">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedorImg" style="background-image: url(static/img/noOrganico/img3.png);">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1 style="color: black;">Residuos no organicos</h1>
                    
                </section>
                
            </section>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <div class="contenedor-Administración">
                <div class="articulo" data-aos="zoom-in-right">
                    <i class="fas fa-recycle" style="background: red;"></i>
                    <h3>Contenedor Rojo</h3>
                </div>
            </div>
                <div class="contenido-textos">
                    <h3><span>1</i></span>¿Que reciduos van en el contenedor Rojo?</h3>
                    <p>Aquí van todos aquellos residuos que no sean envases, o que no tengan un sistema específico de recogida en tu municipio, como: sartenes, vajilla o cubiertos, juguetes rotos, cristales etc.. </p>
                    
                    <h3><span>2</span>¿Qué pasa con los residuos una vez que los entregamos al camión recolector?</h3>
                    <p>Existen dos buenos destinos que pueden tener los residuos que generamos: uno es la creación de composta, cuando se trata de residuos orgánicos, que servirá para alimentar los espacios verdes de las distintas delegaciones; y el otro, cuando son inorgánicos, y se reincorporan a la cadena productiva al destinarse para reciclaje. Lo anterior es posible solo si los hemos separado correctamente, ya que de esto depende que puedan ser aprovechados o no.

                    Una vez que los entregamos al camión recolector, los residuos sólidos, sean orgánicos o inorgánicos, se llevan a una estación de transferencia, donde se trasladan de los camiones recolectores a vehículos de gran tonelaje.</p>
                    <img src="static/img/noOrganico/ruta-residuos.png" style="width: 550px; height: 550px; margin-left:20%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
                    <h3><span>3</span>¿Qué pasa con los residuos inorgánicos?</h3>
                    <p>Por su lado, los residuos inorgánicos se mandan a una planta de selección, donde se recuperan materiales que se pueden aprovechar tales como: plástico, papel, cartón, vidrio, aluminio, fierro, cobre y periódico, por mencionar algunos.

                    La CDMX cuenta actualmente con dos plantas de selección, ubicadas en San Juan de Aragón y Santa Catarina en la que se recibe un total de 3,573 toneladas de residuos sólidos al día. De esta cantidad sólo se recupera el 5% (182 toneladas/de residuos por/día).</p>
                        
                </div>
            </div>
        </section>
    </main>


    <div style="background-color: white;">
        <section class="questions contenedor">
            <section class="textos-questions">
                <h1 style="color: black;">Ruta de separaciòn</h1>
                <p align ="justify">El resto de los residuos sólidos, si no fueron separados adecuadamente, se convertirán en basura, perdiendo toda posibilidad de ser reutilizados. Terminan en rellenos sanitarios o, en el peor de los casos, a cielo abierto contaminando el aire, el suelo y el agua.</p>
            </section>
            <img src="static/img/noOrganico/ruta-separacion.png" style="border-radius: 15%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
        </section>
    </div>

    <section class="results">
        <div class="contenedor1 conten-results">
            <section class="numbers">
                <div class="number" data-aos="zoom-in-left">
                    <h4>500 años</h4>
                    <p>Tiempo de degradación del plástico en el ambiente.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>150 años</h4>
                    <p>Tiempo de degradación de la cerámica y el vidrio no reciclable.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>7%</h4>
                    <p>Porcentaje de residuos no orgánicos en México que no se pueden reciclar.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>40 %</h4>
                    <p>El porcentaje de plásticos que terminan en los océanos o vertederos.</p>
                </div>
            </section>
            <section class="results-text" style="margin-right: 0%; margin-top: 5%;">
                <h4>Curiosidades</h4>
                <p>¿Sabías que materiales como la cerámica o el vidrio no reciclable tardan siglos en degradarse? Los residuos que van al contenedor rojo, como platos, tazas rotas o juguetes de materiales mixtos, no son reciclables y suelen terminar en rellenos sanitarios. Además, los desechos electrónicos y otros objetos de difícil separación, como sartenes y cristales rotos, deben desecharse de forma adecuada para reducir su impacto en el medio ambiente. Separar correctamente estos materiales ayuda a optimizar los recursos de reciclaje y a proteger los ecosistemas.</p>
            </section>
        </div>        
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>