<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reciclar</title>
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="static/img/organico/logo.png" style="width: 80px; height: 80px;  margin-top: -20px;" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="papel">Papel</a>
                    <a href="noOrganico">Inorganicos</a>
                    <a href="plastico">Plastico</a>
                    <a href="pilas">Pilas</a>
                    <a href="/">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedorImg" style="background-image: url(static/img/organico/backk.png);">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1> Residuos organicós </h1>
                    
                </section>
                
            </section>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <div class="contenedor-Administración">
                <div class="articulo" data-aos="zoom-in-right">
                    <i class="fas fa-recycle" style="background: black;"></i>
                    <h3>Residuos orgánicos</h3>
                </div>
            </div>
                <div class="contenido-textos">
                    <h3><span>1</i></span>¿Que son los residuos orgánicos ?</h3>
                    <p>Son todos aquellos residuos de origen natural que pueden "echarse a perder". Algunos ejemplos son: cáscaras de fruta o verdura, restos de comida, cascarones de huevo, pan, tortillas, filtros para café, bolsitas de té, heces de animales, lácteos (sin recipiente), huesos, semillas, flores, pasto y hojarasca</p>
                    <h3><span>2</span>¿Para que sirven los residuos orgánicos?</h3>
                    <p>Mejorar la calidad de la tierra: Uno de los beneficios que pueden obtenerse del compostaje de los residuos orgánicos es que son fácilmente convertibles en compost, un abono orgánico con valor fertilizante para nuestros campos, cultivos y jardines. ... Además, se mejora la calidad del suelo y así también de los ecosistemas </p>
                    <h3><span>3</span>¿Que tipos de residuos son los orgánicos?</h3>
                    <p>Lista de ejemplos de desechos orgánicos
                    </br>
                        •	Restos de frutas y verduras, incluidas las pieles.
                    </br>
                        •	Huesos y restos de carne.
                    </br>
                        •	Espinas y toda clase de resto de pescado.
                    </br>
                        •	Caparazones y elementos descartados de los mariscos.
                    </br>
                        •	Restos de pan.
                    </br>
                        •	Comida en mal estado.
                    </br>
                        •	Distintos tipos de palillos (de helado, de comida china)
                        </p>
                    <h3><span>4</span>¿Como hacer una composta?</h3>
                    <p>Aprovecha los residuos orgánicos de tu cocina y crea composta para alimentar tus plantas</p>
                    <p>Existen diferentes formas de hacer composta. Para saber cuál es la indicada para ti, tienes que estar consiente del espacio que designarás a la compostera así como los materiales que tienes a la mano para hacerla. 
                    </br>
                        Los chicos de Sitopia, expertos en agricultura urbana y aprovechamiento de residuos orgánicos explican que para hacer tu composta lo primero que tienes que hacer es: 
                    </br>
                        1. Pon una capa de cinco centímetros de tierra de hoja en tu compostero de pet reciclado. También puedes utilizar un cajón de madera.
                    </br>
                        2. Pica finanente los residuos orgánicos que vayas a usar; estos pueden ser cáscaras de frutas, verduras, hojas, cascarón de huevo triturado o restos de café.
                    </br>
                        3. Añade una capa de cinco centímetros de residuos orgánicos arriba de la capa de hojas secas y cúbrelo bien con más hojas secas.
                    </br>
                        4. Deja pasar una semana y mezcla con una pala para generar O2. Repite este proceso hasta llenar el compostero.
                    </br>
                        5. Una vez lleno, déja madurar la composta durante ocho o 12 semanas. Después de este tiempo la podrás utilizar para abonar tus plantas o jardín.</p>
                </div>
                
            </div>
        </section>
        
    </main>
    <section class="questions contenedor">
        <section class="textos-questions">
            <h1>Reciclar en casa</h1>
            <p>Aprovecha los residuos orgánicos de tu cocina y crea composta para alimentar tus plantas.</p>
            <a href="#">Learn more</a>
        </section>
        <img src="static/img/organico/composta.png" style="border-radius: 20%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
        
    </section>

    <section class="results">
        <div class="contenedor1 conten-results">
            <section class="numbers">
                <div class="number" data-aos="zoom-in-left">
                    <h4>4 Semanas</h4>
                    <p>Tiempo promedio de descomposición de frutas y verduras en la composta.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>90%</h4>
                    <p>De los residuos orgánicos en México pueden ser aprovechados para composta.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>20%</h4>
                    <p>Porcentaje de residuos orgánicos en los hogares mexicanos.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>8-12 Semanas</h4>
                    <p>Tiempo que toma crear una composta casera en México.</p>
                </div>
            </section>
            <section class="results-text" style="margin-right: 0%; margin-top: 5%;">
                <h4>Curiosidades</h4>
                <p>¿Sabías que en México puedes convertir cáscaras de frutas, verduras, hojas secas y restos de café en un abono natural para tus plantas? Al compostar, no solo reduces la cantidad de basura, sino que también mejoras la calidad del suelo y contribuyes a un ciclo de nutrientes. La composta se utiliza ampliamente en jardines, huertos y áreas verdes, enriqueciendo la tierra y promoviendo la agricultura sustentable. Es una forma sencilla y efectiva de darle una segunda vida a los residuos orgánicos.</p>
            </section>
        </div>                
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>