<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reciclar</title>
    <link rel="shortcut icon" href="static/img/papel/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="static/img/papel/logo.png" style="width: 80px; height: 80px;  margin-top: -20px;" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="tetrabriks">Tetrabriks</a>
                    <a href="organicos">Organicos</a>
                    <a href="plastico">Plastico</a>
                    <a href="Pilas">Pilas</a>
                    <a href="/">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedorImg" style="background-image: url(static/img/papel/fondo.png);">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1>Papel y cartón</h1>
                    
                </section>
                
            </section>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
                <div class="contenedor-Administración">
                    <div class="articulo" data-aos="zoom-in-right">
                        <i class="fas fa-recycle" style="background: blue;"></i>
                    <h3>Contenedor Azul</h3>
                    </div>
                </div>
            
                <div class="contenido-textos">
                    <h3><span>1</span>¿Qué residuos van en el contenedor azul?</h3>
                    <p>En el contenedor azul, se deben colocar materiales de papel y cartón limpios. Esto incluye revistas, periódicos, sobres, cajas de cartón y hojas de papel. Es importante asegurarse de que el papel o cartón no estén manchados de grasa, aceites, o con restos de cinta adhesiva, grapas o plástico, ya que estos elementos dificultan su reciclaje.</p>
                
                    <h3><span>2</span>Errores más comunes</h3>
                    <p>¿Cuáles son los residuos más impropios en este contenedor? Algunos de los errores más frecuentes incluyen:</p>
                    <ul>
                        <li><strong>Briks o Tetrabriks:</strong> Aunque contienen cartón, también tienen capas de plástico y aluminio, por lo que deben ir en el contenedor amarillo.</li>
                        <li><strong>Servilletas y papeles sucios:</strong> Los papeles manchados de aceite o residuos orgánicos deben ir en el contenedor de orgánicos, ya que estos contaminantes impiden el reciclaje efectivo.</li>
                        <li><strong>Pañales:</strong> Los pañales usados no deben ir en el contenedor azul, sino en el de residuos no reciclables.</li>
                    </ul>
                    <br>
                    <h3><span>3</span>¿Qué tipo de papeles se pueden reciclar?</h3>
                    <p>En realidad, lo que se recicla es la celulosa contenida en el papel. Para que esta pueda ser reciclada, el papel debe estar en buen estado y libre de tratamientos químicos excesivos o contaminantes. Papeles que no se pueden reciclar incluyen el papel metalizado, plastificado, fotográfico, de fax, de celofán o papel carbón. También es necesario retirar grapas, espirales, clips y cualquier material no hecho de papel o cartón.</p>
                
                    <h3><span>4</span>¿Los tickets de la compra se depositan en el contenedor azul?</h3>
                    <p>El papel térmico de los tickets de compra no contiene celulosa reciclable, ya que incluye tintas y compuestos que reaccionan al calor y dificultan el reciclaje. Por ello, los tickets de compra y recibos deben depositarse en el contenedor de residuos no reciclables.</p>
                </div>                
            </div>
        </section>
    </main>

<div style="background-color: white;">
    <section class="questions contenedor">
        <section class="textos-questions">
            <h1 style="color: black;">Asi funciona el circulo de reciclaje del papel</h1>
            <p></p>
        </section>
        <img src="static/img/papel/circulo.png" style="border-radius: 15%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
    </section>
</div>

    <section class="results">
        <div class="contenedor1 conten-results">
            <section class="numbers">
                <div class="number" data-aos="zoom-in-left">
                    <h4>365 Días</h4>
                    <p>Tiempo de degradación del papel y del cartón.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>88%</h4>
                    <p>En México, el 88% del papel que se recicla.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>400 M</h4>
                    <p>El consumo mundial de papel excede los 400 millones de toneladas al año.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>14 Ud</h4>
                    <p>Para fabricar una tonelada de papel se cortan alrededor de 14 árboles.</p>
                </div>
            </section>
            <section class="results-text" style="margin-right: 0%; margin-top: 5%;">
                <h4>Curiosidades</h4>
                <p>¿Sabías que 8 cajas de cereales pueden hacer un libro? ¿Y que el papel brillante (revistas) es más difícil de reciclar debido a su capa de plástico? En la actualidad, se buscan formas de hacer el proceso más eficiente, como añadir trozos de revistas a la pasta de papel para hacerlo más brillante. Además, el papel reciclado puede ser de excelente calidad. Según la longitud de las fibras, ¡puede reciclarse hasta siete veces! Suele utilizarse para hacer cartón y papel de embalar, pero también pueden encontrarse folios de papel reciclado.</p>
            </section>
        </div>        
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>