<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reciclar</title>
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="static/img/logo.png" style="width: 80px; height: 80px;  margin-top: -20px;" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="papel">Papel</a>
                    <a href="organicos">Organicos</a>
                    <a href="plastico">Plastico</a>
                    <a href="vidrio">Vidrio</a>
                    <a href="/">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedorImg" style="background-image: url(static/img/pilas/fondo.png);">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1 style="color: black;">Pilas</h1>
                    
                </section>
                
            </section>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
                <div class="contenedor-Administración">
                    <div class="articulo" data-aos="zoom-in-right">
                        <i class="fas fa-recycle" style="background: gray;"></i>
                    <h3>pilas y baterias</h3>
                    </div>
                </div>
            
                <div class="contenido-textos">
                    <h3><span>1</i></span>¿Qué son y cómo reciclar pilas?</h3>
                    <p>Estas pilas o baterías contienen metales pesados y compuestos químicos, muchos de ellos perjudiciales para el medio ambiente. Es muy importante no tirarlas a la basura (en la mayoría de los países eso no está permitido), y llevarlas a un centro de reciclado. Actualmente, la mayoría de los proveedores y tiendas especializadas también se hacen cargo de las baterías gastadas. Algunas de las sustancias nocivas para el medio ambiente dependen  del tipo de pila utilizada. Estas son algunas de ellas:</p>

                    <p>Pilas secas
                    </br>
                        También llamadas “salinas” o de “zinc-carbón”, contienen muy poco mercurio (0,01%). Grado de toxicidad: Muy bajo.
                    </br>
                    Pilas alcalinas
                        Tienen un contenido en mercurio del 0,5%. Grado de toxicidad: Tóxicas.
                    </br>
                    Pilas recargables
                        Contienen cadmio. No contienen mercurio. Grado de toxicidad: Tóxicas.
                    </br>
                    Pilas de botón
                        Algunas contienen hasta un 30% de mercurio. Grado de toxicidad:  Muy alto.
                    </br>    
                    Pilas “verdes”
                        Carecen de cadmio y mercurio, aunque se desconocen parte de sus componentes. Grado de toxicidad: Desconocido.
                        </p>
                    <h3><span>2</span>¿Qué hacer con las pilas usadas?</h3>
                    <p>Es sencillo colaborar. Lo fundamental es conocer cómo es el proceso para reciclar pilas y baterías:
                        El proceso de reciclaje empieza por deshacernos de las pilas usadas usando los contenedores de recogida selectiva que existen. Si realizamos una recogida selectiva, las pilas usadas se llevan a una planta de reciclaje, donde el mercurio se separa de otros metales y el resto de materiales que constituyen las pilas usadas pueden ser recuperados.
                        </p>
                    <h3><span>3</span>Riesgos para la Salud – Daños al Medio Ambiente</h3>
                    <p>Una batería emana gases peligrosos para la salud, ya que está compuesta por componentes tóxicos como Plomo y Ácido Sulfúrico.
                        Cualquiera que sea el camino, causa enormes problemas ambientales. A modo de ejemplo, una sola pila botón puede contaminar más de 600.000 litros de agua. El mercurio y el cadmio, junto a otros metales, no se destruyen con la incineración: se emiten a la atmósfera.
                    </p>
                </div>
            </div>
        </section>
    </main>

<div style="background-color: white;">
    <section class="questions contenedor">
        <section class="textos-questions">
            <h1 style="color: black;">Asi funciona el circulo de reciclaje de las baterias</h1>
            <p></p>
        </section>
        <img src="static/img/pilas/reciclado.png.jpg" style="border-radius: 15%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
    </section>
</div>

<section class="results">
    <div class="contenedor1 conten-results">
        <section class="numbers">
            <div class="number" data-aos="zoom-in-left">
                <h4>600,000</h4>
                <p>Una sola pila botón puede contaminar más de 600,000 litros de agua en México.</p>
            </div>
            <div class="number" data-aos="zoom-in-left">
                <h4>500-1000</h4>
                <p>Se estima que el tiempo de degradación de una pila en el ambiente está comprendido entre 500 y 1,000 años.</p>
            </div>
            <div class="number" data-aos="zoom-in-left">
                <h4>10 M</h4>
                <p>En México se desechan aproximadamente 10 millones de pilas al año.</p>
            </div>
            <div class="number" data-aos="zoom-in-left">
                <h4>10,000 T</h4>
                <p>Se estima que más de 10,000 toneladas de pilas se desechan anualmente en el país.</p>
            </div>
        </section>
        <section class="results-text" style="margin-right: 0%; margin-top: 5%;">
            <h4>Curiosidades</h4>
            <p>¿Sabías que las pilas desechadas en México pueden liberar metales pesados como el mercurio y el cadmio? Estos contaminantes pueden afectar gravemente la salud humana y el medio ambiente. Por ello, es vital reciclar pilas correctamente. En México, existen programas de recolección y centros de reciclaje que aseguran el manejo adecuado de las pilas desechadas, ayudando a proteger el ecosistema y a reducir la contaminación.</p>
        </section>
    </div>
</section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>