<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reciclar</title>
    <link rel="shortcut icon" href="static/img/papel/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/estilos.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <section class="contenedor nav">
                <div class="logo">
                    <img src="static/img/papel/logo.png" style="width: 80px; height: 80px;  margin-top: -20px;" alt="">
                </div>
                <div class="enlaces-header">
                    <a href="papel">Papel</a>
                    <a href="organicos">Organicos</a>
                    <a href="plastico">Plastico</a>
                    <a href="pilas">Pilas</a>
                    <a href="/">Inicio</a>
                </div>
                <div class="hamburguer">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
        <div class="contenedorImg" style="background-image: url(static/img/tetra/fondo.png);">
            <section class="contenido-header">
                <section class="textos-header">
                    <h1>Tetrabriks</h1>
                    
                </section>
                
            </section>
        </div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
                <div class="contenedor-Administración">
                    <div class="articulo" data-aos="zoom-in-right">
                        <i class="fas fa-recycle" style="background: yellow;"></i>
                    <h3>Contenedor Amarillo</h3>
                    </div>
                </div>
            
                <div class="contenido-textos">
                    <h3><span>1</i></span>¿Que es un tetrabrik?</h3>
                    <p>Envase de cartón opaco impermeabilizado con aluminio y, generalmente, con forma de tetraedro que se usa para envasar líquidos.</p>
                
                    <h3><span>2</span>¿Como está compuesto?</h3>
                    <p>Es un envase mixto que se compone de seis capas de que evitan el contacto de los alimentos con el medio externo, para mantener sus propiedades.
                        Estas seis capas están compuestas por distintos materiales:
                    </br>
                        	Papel: Proviene de bosques industriales gestionados bajo el concepto de desarrollo sustentable. El envase está conformado por 75% de papel, garantizando su estabilidad y resistencia.
                    </br>
                        	Aluminio: Evita la entrada de oxígeno, luz y la pérdida de aromas, y es una barrera contra el deterioro de los alimentos.
                    </br>
                        	Polietileno: Evita que el alimento esté en contacto con el aluminio, ofrece adherencia y garantiza la protección del alimento.
                    </br>
                        Estas capas están dispuestas de la siguiente manera:
                    </br>
                        	Primera capa – Polietileno: Protege el envase de la humedad exterior.
                    </br>
                        	Segunda capa – Papel: Brinda resistencia y estabilidad
                    </br>
                        	Tercera capa – Polietileno: Ofrece adherencia fijando las capas de papel y aluminio.
                    </br>
                        	Cuarta capa – Aluminio: Evita la entrada de oxígeno, luz y pérdida de aromas.
                    </br>
                        	Quinta capa – Polietileno: Evita que el alimento esté en contacto con el aluminio
                    </br>
                        	Sexta capa – Polietileno: Garantiza por completo la protección del alimento.
                        </p>
                        <h3><span>3</span>¿Es reciclable?</h3>
                        <p>Sí, los materiales de los envases Tetra Pak son 100% reciclables y en México existen varios métodos para reciclarlos:
                        </br>
                        1. Cartón (75% del peso del envase): Las fibras de cartón en estos envases se reciclan mediante un proceso de "repulpeo". En plantas de reciclado de papel, el cartón se introduce en un tanque de agua llamado hidropulper, donde se separan las fibras al agitarse. Las fibras absorbidas forman una pasta que puede reutilizarse para fabricar cajas de cartón corrugado y papel reciclado.
                        </br>
                        2. Polietileno y aluminio: Mediante **extrusión y pelletización**, el aluminio y polietileno se recuperan y transforman en materiales para fabricar tejas, paneles o cubiertas para techos, contribuyendo a una segunda vida útil.
                        </br>
                        3. Envase completo: A través de **compresión térmica**, el envase triturado se calienta en moldes a 170°C durante 20 minutos, formando un aglomerado resistente sin necesidad de adhesivos adicionales. Estos paneles reciclados se utilizan en la construcción de muebles y estructuras, ofreciendo una opción sustentable y duradera.</p>
                        
                    <h3><span>4</span>¿Cómo lo separo para facilitar su reciclaje?</h3>
                    <p>Para posibilitar el reciclaje de este material es muy importante separarlo limpio y seco. Lo ideal es abrir la parte superior del envase para lavar y secar su interior para que los restos de su contenidos no ensucien y contaminen el resto de los reciclables, y también para que no desprendan olores. Luego es recomendable aplastarlo para que ocupe el menor espacio posible.</p>
                    
                    <h3><span>5</span>¿Cómo se puede reducir este residuo?</h3>
                    <p>	Eligiendo envases familiares en vez de envases individuales más pequeños.
                    </br>
                    	Produciendo en forma casera y a partir de ingredientes frescos sueltos los productos que solemos consumir envasados en tetra brik®. Por ejemplo, exprimiendo jugo de naranjas frescas o haciendo puré de tomates casero en vez de comprarlos ya envasados.
                        </p>
                
                    <h3><span>6</span>¿En qué puede convertirse mediante el reciclaje?</h3>
                    <p>En México, al separar los componentes de los envases Tetra Pak®, es posible obtener nuevos productos. La fracción de cartón (75%) se utiliza para fabricar papel reciclado, cartón corrugado y otros productos de papel. A su vez, la fracción de aluminio y polietileno puede transformarse en tejas, paneles para techos y productos de construcción mediante procesos de extrusión y pelletización.</p>
                    <p>Además, al triturar y aplicar compresión térmica al envase completo, se produce un aglomerado resistente que se emplea en la fabricación de muebles, paneles y elementos para construcción. Estos materiales reciclados son comercializados por empresas en México, promoviendo el aprovechamiento sustentable de los residuos y contribuyendo a la economía circular.</p>
                        
                </div>
            </div>
        </section>
    </main>

<div style="background-color: white;">
    <section class="questions contenedor">
        <section class="textos-questions">
            <h1 style="color: black;">Asi funciona el circulo de reciclaje del papel</h1>
            <p></p>
        </section>
        <img src="static/img/tetra/circulo.png" style="border-radius: 15%;" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
    </section>
</div>

    <section class="results">
        <div class="contenedor1 conten-results">
            <section class="numbers">
                <div class="number" data-aos="zoom-in-left">
                    <h4>30 Años</h4>
                    <p>Tiempo de degradación de un envase Tetra Pak en el ambiente.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>100%</h4>
                    <p>Los materiales que componen este tipo de envase son 100% reciclables en México.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>1963</h4>
                    <p>Año en el que se creó el envase Tetra Pak.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>5,5 M</h4>
                    <p>En México se producen alrededor de 5,500 millones de envases Tetra Pak al año.</p>
                </div>
            </section>
            <section class="results-text" style="margin-right: 0%; margin-top: 5%;">
                <h4>Curiosidades</h4>
                <p>¿Sabías que los envases Tetra Pak en México pueden convertirse en tejas, paneles para techos y hasta muebles? Este proceso permite dar una segunda vida a los envases, contribuyendo a la economía circular y ayudando a reducir residuos en vertederos. Además, el reciclaje de cada tonelada de envases Tetra Pak ahorra energía y reduce las emisiones de CO₂, ayudando a proteger el medio ambiente.</p>
            </section>
        </div>        
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
</body>

</html>